*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: url('./components/galaxy.jpg') no-repeat center center/cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.calculators-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(100px, auto) repeat(7, 100px);
    
}

.bubbles img{
    width: 50px;
    animation: bubble 2s ease normal infinite;
    transition: visibility 3s, opacity 0.5s linear;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -400px;

}
@keyframes bubble{
    0%{
        transform: translateY(-400vh);
        opacity: 0;
    }
    10%{
        opacity: 0;
    }

    40%{
        opacity: 0;    
    }

    60%{
        opacity: 0;
    }
    65%{
        opacity: 1;
    }
    100%{
        transform: translateY(-110vh);
        opacity: 1;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 1s;
}
.bubbles img:nth-child(2){
    animation-delay: 2s;
}
.bubbles img:nth-child(3){
    animation-delay: 2.7s;
}
.bubbles img:nth-child(4){
    animation-delay: 1.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 2s;
}
.bubbles img:nth-child(6){
    animation-delay: 1s;
}
.bubbles img:nth-child(7){
    animation-delay: 2.7s;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 7rem;
    color: white;
}

.calculators-grid > .input1 {
    cursor: default;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 30px 0;
}

.calculators-grid > .input2 {
    cursor: default;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    padding: 30px 0;
}

.calculators-grid > .input3 {
    cursor: default;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
    padding: 30px 0;
}

.calculators-grid > .input4 {
    cursor: default;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    padding: 30px 0;
}

.calculators-grid > .input5 {
    cursor: default;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    text-align: center;
    padding: 30px 0;
}

/* .calculators-grid > h3:hover {
    background-color: rgba(255, 255, 255, .9)
} */

.calculators-grid > input {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column: span 2;
    align-items: center;
    text-align:center
}

.calculators-grid > input:hover {
    background-color: rgba(255, 255, 255, .9)
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/* .calculators-grid > .calculate > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
} */

.calculators-grid > .calculate {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-column: span 5;
}

.calculators-grid > .calculate:hover {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .9);
}

.output .result {
    color: white;
    font-size: 2.5rem;
}

/* --radius: 2px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff; */

:root {
    --radius: 2em;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
  }
  
  .theme-pink {
    --radius: 2em;
    --baseFg: #c70062;
    --baseBg: #ffe3f1;
    --accentFg: #c70062;
    --accentBg: #ffaad4;
  }
  
  .theme-construction {
    --radius: 0;
    --baseFg: white;
    --baseBg: black;
    --accentFg: black;
    --accentBg: orange;
  }
  

  select {
    font: 4rem;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
    position: static;
    width: 320px;
    height: 55px;
    left: 50%;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto

  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  /* select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  } */