<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HW <%=new Date().toISOString().slice(0, 10)%></title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="doc.ico" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <img
              id="logo"
              src="images/logos/RocketLogo-nobg@0.5x.png"
              alt="logo"
			  href="index.html"
            />
          </li>
          <li>
            <a style="color: #fff;
                  background-color: rgba(33, 33, 33, 0.7);
                  border-radius: 10px;
                  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);" href="#"><strong>Physics Central</strong></a>
          </li>
          <li><a href="/mirrors">Mirrors</a></li>
          <li><a href="/requestapp">Requests</a></li>
		  <li><a href="https://github.com/Zaydo123/html-game-server/issues/new" target="_blank">Bug Reports</a></li>
          <li><a href="mailto:zayd@physics-central.com">Contact</a></li>

		  </ul>
      </nav>
    </header>

    <main>
      <div class="slideshow-container">
        <div class="slides fade" style="display: block">
          <div class="slider-text">
            <h1>Welcome</h1>
            <p>The new and improved Physics Central!</p>
          </div>
          <img
            src="images/banners//RocketBanner1@2.5x.png"
            alt="Slideshow Image"
            class="slideshow-image"
            style="width: 100%"
          />
        </div>

        <div class="slides fade">
          <div class="slider-text">
            <h1>Having issues?</h1>
            <p>Email us at: support@physics-central.com</p>
          </div>
          <img
            src="images/banners//RocketBanner2@2.5x.png"
            alt="Slideshow Image"
            class="slideshow-image"
            style="width: 100%"
          />
        </div>

        <div class="slides fade">
          <div class="slider-text">
            <h1>Request a game</h1>
            <p>Send us a suggestion. We'll try to make it happen.</p>
          </div>
          <img
            src="images/banners//RocketBanner3@2.5x.png"
            alt="Slideshow Image"
            class="slideshow-image"
            style="width: 100%"
          />
        </div>

        <!-- Add navigation buttons -->
        <a class="prev" onclick="decrementSlide()">&#10094;</a>
        <a class="next" onclick="incrementSlide()">&#10095;</a>
      </div>

      <!-- Add the dots navigation -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <section id="games">
        <h2 class="game-header">Featured Games</h2>
        <div class="game-grid">
          <% for(let i=0;i<appList.games.length ;i++){ %>
            <div class="game-card">

            <!-- Set image using EJS and if no image - replace with placeholder -->
            <%imageSRC=appList.games[i].image%>
            <%if(appList.games[i].image){%>
              <%imageSRC=appList.games[i].image%>
            <%}else{%>
              <%imageSRC="images/placeholders/400x200.gif"%>
            <%}%>

              <img src=<%=imageSRC%> alt="Game Image" />
              <h3><%=appList.games[i].name%></h3>
              
              <!-- IF description then put it -->
              
              <%if(appList.games[i].description!=""){%>
                
                <a
                  ><strong>EMAIL:</strong>&nbsp; minecraft@physics-central.com if
                  you have any issues.</a
                >

              <%}%>

              <div class="play-button" onclick="window.location.href='/app/<%=appList.games[i].id%>'">Play</div>
            </div>
          <%}%>
          <div class="game-card">
            <img src="images/placeholders/minecraft.jpg" alt="Game Image" />
            <h3>You've reached the end&nbsp;</h3>
            <a href="#logo"><div class="play-button" style="background-color: #321c5f">Jump!</div></a>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div>
        <ul>
          <li><a href="mailto:support@physics-central.com">Support</a></li>
          <li><a href="/mirrors">Mirror Links&nbsp;</a></li>
          <li><a href="/requestapp">Game Requests</a></li>
          <li><a href="https://github.com/Zaydo123/html-game-server/issues/new" target="_blank">Bug Reports</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
    </footer>
    <!-- SCRIPTS-->
    <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
    <link rel="stylesheet" href="https://use.typekit.net/cir1tmq.css" />
    <script src="/slider.js"></script>
  </body>
</html>
