<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HW <%=new Date().toISOString().slice(0, 10)%></title>
        <link rel="icon" type="image/x-icon" href="doc.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="requestapp.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Request A Game or App</h1>
        <form action="/requestapp" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <label for="app_name">App Name:</label>
            <input type="text" name="App Name" id="app_name">
            <input type="submit" value="Submit">
        </form>
        <button onclick="location.href = '/';" id="rqbutton">Return to Homepage</button>

        </body>
    <!--Return to homepage button-->
</html> 