<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HW <%=new Date().toISOString().slice(0, 10)%></title>
    <link rel="icon" type="image/x-icon" href="doc.ico" />
    <link href="css/gameRequests.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <header>
      <nav>
        <ul>
          <li href="index.html">
            <img
              id="logo"
              src="images/logos/RocketLogo-nobg@0.5x.png"
              alt="logo"
            />
          </li>
          <li>
            <a href="/"><strong>Physics Central</strong></a>
          </li>
          <li><a href="/mirrors">Mirrors</a></li>
          <li><a style="color: #fff;
                  background-color: rgba(33, 33, 33, 0.7);
                  border-radius: 10px;
                  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);" href="#">Requests</a></li>
			<li><a href="https://github.com/Zaydo123/html-game-server/issues/new" target="_blank">Bug Reports</a></li>
          <li><a href="mailto:zayd@physics-central.com">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="signupSection">
      <div class="info">
        <h2>Disclaimer&nbsp;</h2>
        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
        <p>
          We will try our <strong>best</strong> to accommodate your request
          where possible. However, we cannot guarantee that your request will be
          fulfilled. Please understand that there are limitations for what we
          can put on a website. </p>
      </div>
      <form action="/requestapp" class="signupForm" method="post" name="signupform">
        <h2>Requests</h2>
        <ul class="noBullet">
          <li>
            <label for="Game Name"></label>
            <input
              type="text"
              class="inputFields"
              id="GameName"
              name="App Name"
              placeholder="Game Name*"
			  required
            />
          </li>
          <li>
            <label for="Name"></label>
            <input
              type="name"
              class="inputFields"
              id="name"
              name="name"
              placeholder="Name"
            />
          </li>
          <li>
            <label for="email"></label>
            <input
              type="email"
              class="inputFields"
              id="email"
              name="email"
              placeholder="Email"
            />
          </li>
          <li id="center-btn">
            <input
              type="submit"
              id="join-btn"
              name="join"
              alt="Join"
              value="Submit"
            />
          </li>
        </ul>
      </form>
    </div>

    <footer class="footer">
      <div>
        <ul>
          <li><a href="mailto:support@physics-central.com">Support</a></li>
          <li><a href="/mirrors">Mirror Links</a></li>
          <li><a href="/requestapp">Game Requests</a></li>
          <li><a href="https://github.com/Zaydo123/html-game-server/issues/new" target="_blank">Bug Reports</a></li>
          <li><a href="#">Coming Soon</a></li>
        </ul>
      </div>
    </footer>

    <!-- SCRIPTS-->
    <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
    <link rel="stylesheet" href="https://use.typekit.net/cir1tmq.css" />
  </body>
</html>
