.add-button {
    background: none;
    border: none;
}
#app-iframe{
    margin:auto;
    display:block;
    border: none;
}
#fullscreenButton{
    margin: auto;
    display: block;
}

.homeAds{
    padding-top: 20px;
    padding-bottom: 20px;
}