.add-button {
    background: none;
    border: none;
}
#app-iframe{
    margin:auto;
    display:block;
    border: none;
}



.game-controls{
    /*center both items in game-controls*/
    display: block;
    text-align: center;
    margin: 10px auto;
    /*now style the button in game-controls div*/

}

.game-controls button{
    /*center the button in game-controls*/
    display: block;
    margin: 0 auto;
    /*now style the button in game-controls div*/
    background-color: #001639; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.game-controls select {
    /*center the button in game-controls*/
    display: block;
    margin: 0 auto;
    /*now style the button in game-controls div*/
    background-color: #001639; /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.homeAds{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid rgb(148, 148, 148);
    background-color: rgb(245, 253, 255);
}

.disable-adblock{
    text-align: center;
    position: relative;
    top: 145px;
}

#AD-LEFT{

  float: left;
  position: relative;
  height: fit-content;
  width:fit-content;
}
#AD-RIGHT{

  float: right;
  position: relative;
  height: fit-content;
  width:fit-content;
}
