body{
    background-color: #ff8a66;
}

.suggestions,.visits{
    background-color: #ff8a66;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
	border-collapse:collapse;
    width:50%;
    color:#fefefe;
    border-style: none;
}

th {
    background-color: #895241;
    font-size: 1.5rem;
    color: #fefefe;
    text-align: center;
    border: 1px solid black;
}

td {
	border-collapse:collapse;
	border: 1px solid black;
    text-align: center;
	padding-top:0;
	padding-bottom:0;
    
}

canvas{
    /*center the canvas*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}